@extends('layouts.admin')

@section('content')
.container
	.card-panel
		.card-block
			h4.card-title titulo 
		img(src="", alt="card image")
		.card-block
			p.card-text.
				 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia adipisci sit, numquam repellat error vel illum possimus, sequi dolorem voluptates, eum nulla unde quo esse, excepturi accusantium ut harum est?
			a(href="#").card-link Card link
			a(href="#").card-link Another link sadasdas
@endsection
