@extends('layouts.admin')

@section('content')
.container
	.card-panel
		@var('idDecreto',$decreto->id)
		h4.blue-text {{$decreto->titulo}}
		.pull-right 
			.row
				.col.s6.l6
					a.btn.waves-effect.waves-light.blue(href="{{url('decretos/'.$idDecreto.'/edit')}}")
						i.fa.fa-pencil(aria-hidden="true")
				.col.s6.l6
					form(action="{{url('decretos/'.$idDecreto)}}" method="POST")
						{{csrf_field()}}
						input(type="hidden" name="_method" value="DELETE")
						button.btn.waves-effect.waves-light.red.fa.fa-times(href="{{url('decretos/'.$idDecreto)}}" type="submit")


		.divider
		p.
			{{$decreto->descripcion}}

@endsection
