@extends('layouts.admin')

@section('content')
.contoainer
	.card-panel
		h3.blue-text Cuentas
		.divider
		p.
			 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officia nulla dicta, magnam eaque dolorum aliquam praesentium vel provident sint dolor! Id repellat delectus voluptatum eum sequi deserunt necessitatibus, hic reprehenderit.
@endsection
