@extends('layouts.admin')

@section('content')
.container
	.card
		.card-header
			h4.text-blue
		.card-block
			.card-title
				h4.card-title titulo especial
				p.card-text.
					 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Impedit fugiat placeat qui iure laboriosam ipsa quos voluptatibus fuga, rerum officiis architecto necessitatibus sequi voluptate voluptatum, laudantium illo amet ab quo.
				a(href="#").btn.btn-primary go somewhere
@endsection


